body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: lightskyblue;
    color: lightyellow;
    padding-top: 200px;
    padding-bottom: 200px;
}